.no-scroll .tiptap {
  @apply h-full;
}

.tiptap {
  @apply h-[400px] overflow-auto rounded border border-border bg-muted/40 p-4;
}

.tiptap > * + * {
  margin-top: 0.75em;
}

.tiptap ul {
  padding: 0 1rem;
  @apply list-disc;
}

.tiptap ol {
  padding: 0 1rem;
  @apply list-decimal;
}

.tiptap li {
  padding: 0 1rem;
}

.tiptap h1 {
  @apply text-6xl font-bold;
}

.tiptap h2 {
  @apply text-5xl font-bold;
}

.tiptap h3 {
  @apply text-4xl font-bold;
}

.tiptap h4 {
  @apply text-3xl font-bold;
}

.tiptap h5 {
  @apply text-2xl font-bold;
}

.tiptap h6 {
  @apply text-xl font-bold;
}

.tiptap code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.tiptap pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.tiptap pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.tiptap img {
  max-width: 100%;
  height: auto;
}

.tiptap blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.tiptap hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}
